<div class="page-header">
  <h1>
    The Wedding Party
    <small>The People, Not the Reception</small>
  </h1>
</div>
<div id="wedding-party-row" class="row">
  <div id="wedding-party-content" class="span12">
  <!--
    <div class="row">
      <div class="span6">
        The Bridesmaids:
        <ul id="bridesmaids-ul" class="">
          <li><a href="#ashley">Ashley</a></li>
          <li><a href="#shannon">Shannon</a></li>
          <li><a href="#claire">Claire</a></li>
          <li><a href="#lindsey">Lindsey</a></li>
          <li><a href="#sam">Sam</a></li>
        </ul>
      </div>
      <div class="span6">
        The Groomsmen:
        <ul id="groomsmen-ul" class="">
          <li><a href="#brice">Brice</a></li>
          <li><a href="#evan">Evan</a></li>
          <li><a href="#george">George</a></li>
          <li><a href="#josh">Josh</a></li>
          <li><a href="#noah">Noah</a></li>
        </ul>
      </div>
    </div>
  -->
    
    <style type="text/css" media="screen">
      .wedding-party-bridesmaids {
        padding: 5%;
      }

      .wedding-party-bio {
        padding: 5%;
      }

      .wedding-party-groomsmen {
        padding: 5%;
      }
    </style>

    <div id="bridemaids" class="wedding-party-bridesmaids">

      <% @bridesmaids.each do |bridesmaid| %>
        <div id="<%= bridesmaid.name %>" class="wedding-party-bio row-fluid">
          <div id="<%= bridesmaid.name %>-picture" class="span3">
            <!-- <%= image_tag bridesmaid.picture_file %> -->
          </div><!-- /<%= bridesmaid.name %>-picture -->
          <div id="<%= bridesmaid.name %>-text" class="span8">
            <h3><%= bridesmaid.name %>&nbsp;&mdash;&nbsp;<%= bridesmaid.title %></h3>
            <p><%= bridesmaid.description %></p>
          </div><!-- /<%= bridesmaid.name %>-text -->
        </div><!-- /<%= bridesmaid.name %> -->
      <% end %>
    </div><!-- /bridemaids -->
        
    <div id="groomsmen" class="wedding-party-groomsmen">
      
      <% @groomsmen.each do |groomsman| %>
        <div id="<%= groomsman.name %>" class="wedding-party-bio row-fluid">
          <div id="<%= groomsman.name %>-picture" class="span3">
            <!-- <%= image_tag groomsman.picture_file %> -->
          </div><!-- /<%= groomsman.name %>-picture -->
          <div id="<%= groomsman.name %>-text" class="span8">
            <h3><%= groomsman.name %>&nbsp;&mdash;&nbsp;<%= groomsman.title %></h3>
            <p><%= groomsman.description %></p>
          </div><!-- /<%= groomsman.name %>-text -->
        </div><!-- /<%= groomsman.name %> -->
      <% end %>
    </div><!-- /groomsmen -->
  </div><!-- /wedding-party-content -->
</div><!-- /wedding-party-row -->


