<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Jessi and Colin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jessi Peterson and Colin Rymer are getting married on 9/8/12 in Chattanooga, TN!">
  <meta name="author" content="Colin Rymer">

 <%= stylesheet_link_tag    "application", :media => "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
  
  <style type="text/css" media="screen">
    body {
      padding-bottom: 20px;
      color: black;
    }
    .navlinks {
      font-size: 20px;
    }

    #nav-container {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .story_hr {
      border-bottom: 1px solid black;
    }

    .title_names {
      font-size: 40px;
    }

    .title_ampersand {
      font-size: 50px;
    }

    .title_div {
    }

    .title_date {
    }

  </style>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  
  <div id="nav-container" class="container container-fluid">
    <div class="row-fluid">
      <div class="span12 title_div">
        <span class="title_names">Jessi</span><span class="title_ampersand">&amp;</span><span class="title_names">Colin</span><span class="title_date">September 8th, 2012</span>
        <hr />
      </div>
      <div class="span12 navlinks">
        <%=link_to "Home", root_path %>&nbsp;|&nbsp;
        <%=link_to "Story", story_path %>&nbsp;|&nbsp;
        <%=link_to "Wedding", wedding_path %>&nbsp;|&nbsp;
        <%=link_to "Registry", registry_path %>&nbsp;|&nbsp;
        <a href="rsvp">RSVP</a>&nbsp;|&nbsp;
        <%=link_to "Wedding Party", party_path %>&nbsp;|&nbsp;
        <%=link_to "Accomodations", hotel_path %>&nbsp;|&nbsp;
        <%=link_to "&rsquo;Noog".html_safe, noog_path %>&nbsp;|&nbsp;
        <%=link_to "Directions", direction_path %>
      </div>
    </div>
  </div>

  <div class="container container-fluid">
    <div class="row-fluid">
      <div id="main-span" class="span12">
        <%= yield %>
      </div><!-- /main-span -->
    </div><!--/row-->
    <hr />
    <footer>
      <p>Built by Colin Rymer. &copy; 2012</p>
    </footer>
  </div><!--/.fluid-container-->

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
